

<div>
    <strong>{{ThePost.title}}</strong><br/>
    {{ThePost.thought}}<br/>

    <button (click)="edit()">Edit</button>
    <button (click)="deleet()">Delete</button><br /><br />
</div> 

<!-- making the edit form  -->

<ng-container *ngIf="showEdit">
    <small>Edit Title:</small> <br />
    <input type="text" [(ngModel)]="editTitle" /><br />
    <small>Edit Thought:</small> <br />
    <input type="text" [(ngModel)]="editThought" /><br />
    <button (click)="saveChanges()">Save</button>
    <button (click)="cancelChanges()">Cancel</button><br /><br />
</ng-container>